

<div class="cadre">
<h2>About us<h2>

<div class="texte">
    

            <div class="titre"> BRAIN-CLUB</div></br>


                vous presente son propre site E-commerce:</br>
                

                <h4>Nos Chatons Mignions</h4></br>


                Créé par son équipe:</br></br>

                    <div class="nom">
                            RAKOTONOMENJANAHARY  </br>
                            

                            RAKOTONINDRINA Arotiana Fehizoro </br>
                            

                            RAKOTOVAO Ronick Michael</br>
                            

                            RAZANAJATOVO Nanirisoa Nambinina</br>
                            

                            RAZANAKOTO Tsirimanana Jean Luc </br>
                            
                            
                            Léon Chris Stone </br>
                    </div>

            </div>

</div>