<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>
<%= form_tag url_for(action: 'create'), method: "post" do %>
            <%= submit_tag "Ajouter à mon panier" %>
        <% end %>
