<!--########################-->
<!--####   container  ######-->
<!--########################-->

<section class="container">
  <div class="containerTitles">
    
      <button class="buttonload">
        <i class="fa fa-spinner fa-spin"></i>Nos Chatons Mignions
      </button>
    

    <div class="d-flex flex-row">
      <div class="row">
        <%@items.each do |item|%>
          <div class="col-sm-4">
            <div class="#" style="width: 20rem;">
              <div class="card">
                <img class="card-img-top" src="<%=item.image_url%>" alt="Card image">
                  <div class="card-body corp">
                    <h4 class="card-title"><%=item.title%></h4>
                      <p class="card-text">Some example text.</p>
                        <a href="<%= item_path(item.id) %>" class="btn btn-outline-warning">show</a>
                  </div>
              </div> 
            </div>
          </div> 
        <% end %>
      </div>
    </div>
  </div>     
  
</section>
<footer>
        <div class="container-footer">
            <div class="footer">
                <h1>Footer</h1><br />
                <p>E-commerce projet</p><br />
                <center class="cp"> ©Copyright 2019 par CoderBrain Tous droits réservés.</center>
            </div>
        </div>
    </footer>
  
