#photo{
    position: absolute;

   top:19%;
    left: 79%;
    background-size: cover;
    width: 30px;
    height: 2px;
}

h3{
    position: absolute;
    top:13%;
    left: 85%;
    color: white;

}
.sizephoto{
    position: absolute;
    top:16%;
    left: 84%;
    font-size: 15px; 
    color: white;
}

h1{
    position: absolute;
    top:10%;
    left: 35%;
    color: rgb(216, 214, 110);
    
}

.entete{

    font-size: 150%;
    position: absolute;
    top:20%;
    left: 27%;
    color: white
    

}
.num{

    position: absolute;
    top:30%;
    left: 22%;
    color: white

}
.mail{

    position: absolute;
    top:27%;
    left: 27%;
    color: white
}


.btnChoix{
    
    position: absolute;
    top:52%;
    left: 79%;
    
}
.btnAjour{

    position: absolute;
    top:57%;
    left: 79%;

}

.btn-outline-success{

    position: absolute;
    top:62%;
    left: 79%;
}



