#photo{
    position: absolute;

   top:19%;
    left: 79%;
    background-size: cover;
    width: 30px;
    height: 2px;
}

h3{
    position: absolute;
    top:13%;
    left: 84%;
    color: white;

}

h1{
    position: absolute;
    top:10%;
    left: 25%;
    color: aliceblue;
}

.entete{

    position: absolute;
    top:20%;
    left: 22%;
    color: white

}

.mail{

    position: absolute;
    top:25%;
    left: 22%;
    color: white
}

.btnAjour{

    position: absolute;
    top:39%;
    left: 22%;

}

.btnChoix{
    
    position: absolute;
    top:35%;
    left: 22%;
    b
}

.btn-outline-success{

    position: absolute;
    top:45%;
    left: 22%;
}